* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 0 40px;
  }
  

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }
  
  .card {
    cursor: pointer;
    background-color: transparent;
    height:300px;
    perspective: 1000px;
  }
  

  
  .card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  
  .card-inner {
    position: relative;
    width: 250px;
    height: 250px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 250px;
    height: 250px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .card-back {
    background-color: #343434;
    /* color: white; */
    padding: 20px;
    transform: rotateY(180deg);
  }
  
  
  @media (max-width: 800px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  